#if ($ctx.error)
    $util.appendError($ctx.error.message, $ctx.error.type, null, $ctx.result.data.unprocessedKeys)
#end

$util.toJson($ctx.result.data.Training-zfe6tien5ba7zfgybczcmg6i7i-devsdamien)
