<form [formGroup]="boatListForm">

  <div>
    <mat-form-field>
      <mat-label>Category Athlete</mat-label>
      <mat-select formControlName="memberCategory">
        <mat-option *ngFor="let membershipType of membershipType" [value]="membershipType.id"
                    (onSelectionChange)="getTraining($event)" >{{membershipType.type}}</mat-option>
      </mat-select>
      <!--      <mat-error *ngFor="let validation of errorMessages.email">-->
      <!--        <mat-error class="error-message" *ngIf="profileForm.get('email').hasError(validation.type) &&-->
      <!--            (profileForm.get('email').dirty || profileForm.get('email').touched)">{{validation.message}}-->
      <!--        </mat-error>-->
      <!--      </mat-error>-->
    </mat-form-field>
<!--<div *ngFor="let training of trainings">-->
<!--  <div *ngFor="let attendee of training.athleteAttending">{{attendee.athleteID}}</div>-->
<!--  {{training.trainingDate}}-->
<!--</div>-->


    <div  *ngIf="isLoadedTraining">
      <table mat-table [dataSource]="trainings" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{getDateToString(element.trainingDate)}}</td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.trainingTime}} </td>
        </ng-container>

        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef>Options</th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <button mat-raised-button (click)="assignAthlete(element)"><i class="material-icons">
                create
              </i></button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>

    </div>


    <button mat-button mat-raised-button
            (click)="create()">{{ 'Save'}}
      <!--            (click)="create()">{{athlete.id ?'Update' : 'Save'}}-->
    </button>
  </div>

</form>
